
<% if @despacho.attaches.count > 0 %>

<ul class="img-list">
    <% for foto in @despacho.attaches %>
  <li>
  <a href=<%= foto.avatar.url %>>
  <% if foto.updated_at > '2017-02-27 23:00:00' %>
      <img src=<%= foto.avatar.url(:medium) %> width="224" height="168" />
  <% else %>
      <img src=<%= foto.avatar.url %> width="224" height="168" />
  <% end %>
      <span class="text-content"><span><%= foto.descricao %></span></span>
      </a>
  </li>
  <% end %>
</ul>

<style type="text/css">
  
 ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  width: 213px;
  height: 160px;
  margin: 0;
  position: relative;
}

span.text-content {
  background: black;
  color: white;
  cursor: pointer;
  display: table;
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: auto;
}
 
span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

</style>

<% end %>