<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head> 
  <body>
   
  <p>Bom dia, </p>
Esta é uma mensagem gerada automaticamente do sistema GESTOSAT enviada pelo seguinte motivo:
<blockquote>
    <p>
      Existe viagem iniciada na filial <%= @viagem.trecho.filial.name %>, para o rebocador <%= @viagem.navio.name %> , que iniciou a mais de 24hs sem preenchimento dos carregamentos e mapas de convés no sistema.
    </p>
    <p>A disponibilização destas informações é importante para que o Porto do destino possa programar suas equipes para o desembarque.</p>
    <p>Solicitamos que o cadastro seja realizado para evitar problemas no porto Destino.</p></br>
</blockquote> 
    <p>Equipe Gestosat!</p>
  </body>
</html>