 <script src='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css' rel='stylesheet' />

<script src="/js/leaflet.extra-markers.min.js"></script>
<link rel="stylesheet" href="/css/leaflet.extra-markers.min.css">


<style type="text/css">
html,body {width:100%;height:100%;margin:0;padding:0;background-color: black}
#map {
    position:relative;
    height:93%;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:-20px; /* adjust top margin to your header height */
    margin-bottom: 0px;
}
</style>
</head>

<div id="map"></div>


<script type="text/javascript">

L.mapbox.accessToken = 'pk.eyJ1Ijoicm9tdWxvZGFuemVyIiwiYSI6ImNpZzBkZ3BrOTAzNDR0eGt4emVlM2RleWEifQ.6CSLqi0tvqo1yF2zCIt7oA'
var map = L.mapbox.map('map').setView([-3.505, -55.09], 7);

  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoicm9tdWxvZGFuemVyIiwiYSI6ImNpZzBkZ3BrOTAzNDR0eGt4emVlM2RleWEifQ.6CSLqi0tvqo1yF2zCIt7oA', {
    maxZoom: 18,
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
      '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
      'Imagery © <a href="http://mapbox.com">Mapbox</a>' + ' Desenvolvimento <a href="https://br.linkedin.com/in/romulodanzer">Rômulo Danzer</a>',
    id: 'mapbox.streets'
  }).addTo(map);


  //

  //

var featureLayer = L.mapbox.featureLayer()
    .loadURL('/rastro/' + <%= @navio.id %> +'.json')
    // Once this layer loads, we set a timer to load it again in a few seconds.
    .on('ready', run)
    .addTo(map);

function run() {
    featureLayer.eachLayer(function(layer) {
      layer.bindPopup('<b>' + layer.feature.properties.nome + '</b>' + '</br> <b>hora: </b> ' + layer.feature.properties.hora + '</br> <b>Velocidade: </b>' + layer.feature.properties.velocidade )
    });
//

//
    map.fitBounds(featureLayer.getBounds());

   window.setTimeout(function() {
        featureLayer.loadURL('/rastro/' + <%= @navio.id %> +'.json');
    }, 600000);
}

  featureLayer.on('layeradd', function(e) {
    var marker = e.layer,
        feature = marker.feature;
    //marker.setIcon(L.icon(feature.properties.icon));
    marker.setIcon(L.ExtraMarkers.icon({markerColor: feature.properties.icon, prefix: 'fa', innerHTML: feature.properties.html }));

});


</script>
