<table class="table">
	<thead>
		<tr>
			<th>
				Abertura de Janela
			</th>
			<th>
				Limite de Fechamento
			</th>
			<th>
				Data da realização da Vistoria 
			</th>
			<th>
				Arquivo digitalizado
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<%= @certificado_de_borda_livre.quarta_vistoria_anual_abertura.strftime('%d/%m/%y') if !@certificado_de_borda_livre.quarta_vistoria_anual_abertura.blank? %>
			</td>
			<td>
				<%= @certificado_de_borda_livre.quarta_vistoria_anual_vencimento.strftime('%d/%m/%y') if !@certificado_de_borda_livre.quarta_vistoria_anual_vencimento.blank? %>
			</td>
			<td>
				<%= @certificado_de_borda_livre.quarta_vistoria_anual_realizada.strftime('%d/%m/%y') if !@certificado_de_borda_livre.quarta_vistoria_anual_realizada.blank? %>
			</td>
			<td>
				<%= link_to("Ver arquivo", @certificado_de_borda_livre.quarta_vistoria_anual_arquivo.url) if @certificado_de_borda_livre.quarta_vistoria_anual_arquivo?%>
			</td>
		</tr>
		<tr>
			<td>
				<% if !@certificado_de_borda_livre.quarta_vistoria_anual_abertura.blank? %>
			<% if @certificado_de_borda_livre.quarta_vistoria_anual_abertura < Date.today %>
        		<span class="vermelho">VENCIDO </span>
        	<% else %>
        		<% if @certificado_de_borda_livre.quarta_vistoria_anual_abertura > Date.today+30.days %>
        			<span class="verde">EM DIA </span>
        		<% else %>
        			<span class="amarelo">ABERTURA PROXIMA </span>
        		<% end %>
        	<% end %>

			<% end %>
			</td>
			<td>
				<% if !@certificado_de_borda_livre.quarta_vistoria_anual_vencimento.blank? %>
			<% if @certificado_de_borda_livre.quarta_vistoria_anual_vencimento < Date.today %>
        		<span class="vermelho">VENCIDO </span>
        	<% else %>
        		<% if @certificado_de_borda_livre.quarta_vistoria_anual_vencimento > Date.today+30.days %>
        			<span class="verde">EM DIA </span>
        		<% else %>
        			<span class="amarelo">ABERTURA PROXIMA </span>
        		<% end %>
        	<% end %>

			<% end %>

			</td>

			<td>
				<% if !@certificado_de_borda_livre.quarta_vistoria_anual_realizada.blank? %>
			<% if @certificado_de_borda_livre.quarta_vistoria_anual_realizada < Date.today %>
        		<span class="vermelho">VENCIDO </span>
        	<% else %>
        		<% if @certificado_de_borda_livre.quarta_vistoria_anual_realizada > Date.today+30.days %>
        			<span class="verde">EM DIA </span>
        		<% else %>
        			<span class="amarelo">ABERTURA PROXIMA </span>
        		<% end %>
        	<% end %>
        	<% else %>
        		-
			<% end %>
			</td>
			<td>
				-
			</td>
		</tr>
	</tbody>
</table>






<style type="text/css">
	.verde 
{
   background-color: #63DB2C;
}
	.vermelho
	{
		background-color: #DB4C2C;
	}
	.amarelo
	{
		background-color: #EDE72B;
	}
</style> 