<table style="height: 212px;" width="692">
<tbody>
<tr>
<td style="text-align: center;">
<p>________________________________</p>
<p style="text-align: center;">Assinatura do C.C. Solicitante</p>
</td>
<td style="text-align: center;">
<p>________________________________</p>
<p style="text-align: center;">Assinatura do C.C da Aplica&ccedil;&atilde;o</p>
</td>
<td style="text-align: center;">
<p>________________________________</p>
<p style="text-align: center;">Aprovação da Gerência</p>
</td>
</tr>
<tr>
<td style="text-align: center;">
<p>________________________________</p>
<p style="text-align: center;">Data do Recebimento</p>
</td>
<td style="text-align: center;">
<p>________________________________</p>
<p style="text-align: center;">Assinatura do  Setor de Compras</p>
</td>
<td style="text-align: center;">
<p>________________________________</p>
<p style="text-align: center;">Aprovação da Diretoria</p>
</td>
</tr>
</tbody>
</table>