<h1> <%= certificado.navio.name %> </h1>

<table class="table">
	<thead>
		<tr>
			<th>
				Documento
			</th>
			<th>
				Abertura Janela
			</th>
			<th>
				Fechamento Janela
			</th>
			<th>
				Realizado
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				Vistoria Inicial
			</td>
			<td>
				<%= certificado.vistoria_inicial.to_date %>
			</td>
			<td>
				[CONTENT]
			</td>
			<td>
				[CONTENT]
			</td>
		</tr>
		<tr>
			<td>
				Validade Total do Borda Livre
			</td>
			<td>
				-
			</td>
			<td>
				[CONTENT]
			</td>
			<td>
				[CONTENT]
			</td>
		</tr>
		<tr>
			<td>
				Primeira Vistoria Anual
			</td>
			<td>
				-
			</td>
			<td>
				[CONTENT]
			</td>
			<td>
				[CONTENT]
			</td>
		</tr>
		<tr>
			<td>
				Segunda Vistoria Anual
			</td>
			<td>
				[CONTENT]
			</td>
			<td>
				[CONTENT]
			</td>
			<td>
				[CONTENT]
			</td>
		</tr>
		<tr>
			<td>
				Terceira Vistoria Anual
			</td>
			<td>
				[CONTENT]
			</td>
			<td>
				[CONTENT]
			</td>
			<td>
				[CONTENT]
			</td>
		</tr>
		<tr>
			<td>
				Quarta Vistoria Anual
			</td>
			<td>
				[CONTENT]
			</td>
			<td>
				[CONTENT]
			</td>
			<td>
				[CONTENT]
			</td>
		</tr>
	</tbody>
</table>