<ul class="nav">
  <% if user_signed_in? %>
	  
      <% @nao_lidas = Mensagem.where("msgsubtype = 1001 and macronumber = 0 and done = false").count %>
      <li> <%= link_to @nao_lidas.to_s + ' msgs não lidas ', admin_mensagens_path + '?order=id_desc&page=1&scope=nao_lidas' %>  </li>
	  
      <li> <%= link_to 'Mudar senha', edit_user_registration_path %> </li>
      <li> <%= link_to 'Voltar para o sistema', root_path %></li>
  <% end %>
</ul>


