<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>




<nav class="navbar navbar-inverse">
  <div class="container-fluid">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>                        
      </button> 
    <a class="navbar-brand" href="/admin">GESTOSAT</a>
    </div> 
    <div class="collapse navbar-collapse" id="myNavbar"> 
  <ul class="nav navbar-nav">
    <li><a href="/admin"><span class="glyphicon glyphicon-home"></span> Ver Painel</a></li>
  </ul>
      <%= render "layouts/direita" %>
    </div> 
  </div>

</nav>
<% if can? :create, Viagem %> 
  <% if !@sem_viagem.blank? %>
   <% if @sem_viagem.count > 0 %>

   <div class="alert alert-danger" id="meuAlerta"> 
      <%= "Existem " + @sem_viagem.count.to_s + " se movimentando sem viagens abertas:" + @sem_viagem.to_s %> 
    </div>
 
   <% end %> 
   <% end %> 
<% end %> 
 

