<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>




<style>.highcharts-figure, .highcharts-data-table table {
    min-width: 320px; 
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}


input[type="number"] {
	min-width: 50px;
}</style>


<% @extintores_atu = ControleDeExtintor.where("created_at > ? and created_at < ?",Date.today.at_beginning_of_month, Date.today.at_end_of_month) %>
<% @hidrantes_atu = Hidrante.where("created_at > ? and created_at < ?",Date.today.at_beginning_of_month, Date.today.at_end_of_month) %>
<% @mangueiras_atu = Mangueira.where("created_at > ? and created_at < ?",Date.today.at_beginning_of_month, Date.today.at_end_of_month) %>
<% @boia_atu = Boia.where("created_at > ? and created_at < ?",Date.today.at_beginning_of_month, Date.today.at_end_of_month) %>
<% @extintores_ante = ControleDeExtintor.where("created_at > ? and created_at < ?",(Date.today-1.month).at_beginning_of_month, (Date.today-1.month).at_end_of_month) %>
<% @hidrantes_ante = Hidrante.where("created_at > ? and created_at < ?",(Date.today-1.month).at_beginning_of_month, (Date.today-1.month).at_end_of_month) %>
<% @mangueiras_ante = Mangueira.where("created_at > ? and created_at < ?",(Date.today-1.month).at_beginning_of_month, (Date.today-1.month).at_end_of_month) %>
<% @boia_ante = Boia.where("created_at > ? and created_at < ?",(Date.today-1.month).at_beginning_of_month, (Date.today-1.month).at_end_of_month) %>
<% embarcacao = [] %>
<% @extintores_atu.group(:embarcacao).each do |t|  embarcacao << t.embarcacao.upcase end %>
<% @hidrantes_atu.group(:embarcacao).each do |t|  embarcacao << t.embarcacao.upcase end %>
<% @mangueiras_atu.group(:embarcacao).each do |t|  embarcacao << t.embarcacao.upcase end %>
<% @boia_atu.group(:embarcacao).each do |t|  embarcacao << t.embarcacao.upcase end %>
<% @extintores_ante.group(:embarcacao).each do |t|  embarcacao << t.embarcacao.upcase end %>
<% @hidrantes_ante.group(:embarcacao).each do |t|  embarcacao << t.embarcacao.upcase end %>
<% @mangueiras_ante.group(:embarcacao).each do |t|  embarcacao << t.embarcacao.upcase end %>
<% @boia_ante.group(:embarcacao).each do |t|  embarcacao << t.embarcacao.upcase end %>
<% @embarcacoes = embarcacao.uniq %>
<% @estemes = @extintores_atu.count + @hidrantes_atu.count + @mangueiras_atu.count + @boia_atu.count %>
<% @mespassado = @extintores_ante.count + @hidrantes_ante.count + @mangueiras_ante.count + @boia_ante.count  %>

<% @data2 = [] %>
<% for e in @embarcacoes %>
    <% @tmp = @boia_ante.where(:embarcacao => e).count + @mangueiras_ante.where(:embarcacao => e).count + @hidrantes_ante.where(:embarcacao => e).count + @extintores_ante.where(:embarcacao => e).count + @extintores_atu.where(:embarcacao => e).count + @hidrantes_atu.where(:embarcacao => e).count + @mangueiras_atu.where(:embarcacao => e).count + @boia_atu.where(:embarcacao => e).count %>
    <% if @tmp > 0 %>
    <% @data2 << "{name: '#{e}' , y: #{@tmp}, sliced: true}" %>
    <% end %>
<% end %>

<% if @data2.blank? %>
 <% @data2 = [] %>
<% end %>

<figure class="highcharts-figure">
    <div id="container2"></div> 
    <p class="highcharts-description">
        Para este gráfico foram inspecionado(as): <%= @data2.count %> embarções.
    </p>
</figure>


<script>
    Highcharts.chart('container2', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    credits: false,
    title: {
        text: 'Itens Verificados por Embarcação'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}% {point.y} itens</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
        }
    },
    series: [{
        name: 'Embarcação',
        colorByPoint: true,
        data: [<%= raw @data2.join(",") %>]
    }]
    });
</script>




